<body>

<!-- will search through the requests database table and return 'Request for 'name' for 'date' from 'customer_id_username'-->

<div class="container" style="padding-top: 100px;">
  <h1 style="color:#42ba96;">Your Requests</h1>
  <div class="alert alert-success" role="alert">
      <% @requests.each do |request| %>
      <div class="mb-3">
        <div class="p-2 border" style="background-color:#F0FFF0;">
          <span style="color:#006400">Request for <%= Space.find_by_id(id: request.space_id).name %></span>
        </div>
      </div>
      <div class="mb-3">
        <div class="p-2 border" style="background-color:#F0FFF0;">
          <span style="color:#006400">For <%= SpaceDate.find_by_id(id: request.date_id).date %></span>
        </div>
      </div>
      <div class="mb-3">
        <div class="p-2 border" style="background-color:#F0FFF0;">
          <span style="color:#006400">From <%= User.find(id: request.customer_id).name %></span>
        </div>
      </div>
      <form method='post'>
      <div class="mb-3">
        <a href="#">
          <button type="button" class="btn btn-success">Approve</button>
        </a>
    </div>
    </form>
    <form>
    <div class="mb-3">
      <a href="#">
        <button type="button" class="btn btn-danger">Reject</button>
      </a>
    </div>
    </form>
  </div>
</div>
</body>
<% end %>
