  <div class="container" style="padding-top: 150px;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/sessions/new"><button type="button" class="btn btn-outline-success">Sign In</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 10px;">
        <a href="/users/new"><button type="button" class="btn btn-success">Sign Up</button></a>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 100px;">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 10px;">
        <p>@team_ratafak_plachta 2021</p>
      </div>
    </div>
  </div>
