
  <div class="container">
    <% @spaces.each do |space| %>
      <div class="row">
        <div class="col">
          <div class="p-3 border bg-light"><%= space.name %></div>
        </div>
        <div class="col">
          <div class="p-3 border bg-light"><%= space.description %></div>
        </div>
        <div class="col-2">
          <div class="p-3 border bg-light"><%= space.price %></div>
        </div>
      </div>
    <% end %>
  </div>
