<% if @current_user == @space.user_id %>

  <div class="container" style="padding-top: 100px;">
  <h1 style="color:#42ba96;">Add available dates for <%= @space.name %>:</h1>
  <div class="alert alert-success" role="alert">
      <form action="/spaces/<%= @space.id %>/calendar/new" method="post">
        <div class="mb-3">
              <label for="start_date" class="form-label">Start date</label>
              <input type="text" class="form-control" min="0" step="0.01" name="start_date" id="start_date" placeholder="YYYY-MM-DD" maxlength="10">
        </div>
        <div class="mb-3">
              <label for="End date" class="form-label">End date</label>
              <input type="text" class="form-control" min="0" step="0.01" name="end_date" id="end_date" placeholder="YYYY-MM-DD" maxlength="10">
        </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success mb-3">Add dates</button>
          </div>
      </form>
    </div>
  </div>

<% end %>
