<div class="container" style="padding-top: 100px;">
  <div class="alert alert-success" role="alert">
    <form action="/users/new" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" maxlength="320">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="name" class="form-control" name="name" id="name" placeholder="John Doe/Jane Doe" maxlength="150">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" name="username" id="username" placeholder="jdoe.1980" maxlength="20">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" maxlength="20">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3">Create Account</button>
        </div>
    </form>
  </div>
</div>
